<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
>
<ui:composition template="template.xhtml">
    <ui:define name="content">
        <script type="text/javascript">
            function renderDiagram() {
                const resource = document.getElementById("content-form:xmlProcess").textContent;
                const BpmnViewer = window.BpmnJS;
                const viewer = new BpmnViewer({container: '#diagramCanvas', width: '100%', height: '100%'});
                const canvas = viewer.get('canvas');
                viewer.importXML(resource, function (err) {
                    if (err) {
                        console.log("Diagram rendering: " + err);
                    } else {
                        canvas.zoom('fit-viewport');
                    }
                });
            }

            function reload() {
                setTimeout((function () {
                    document.location.reload();
                    console.log("reloaded");
                }), 4000);
            }
        </script>
        <h:form id="content-form">
            <p:commandButton type="button" value="Установить новый процесс" styleClass="ui-button-success"
                             onclick="PF('installProcessDialog').show();"/>

            <p:splitter style="border: none !important;">
                <p:splitterPanel size="30">
                    <p:dataTable id="tableModel" var="t" value="#{deploymentManagedBean.getModels()}"
                                 rows="10"
                                 paginator="true"
                                 lazy="true"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 currentPageReportTemplate="{startRecord}-{endRecord} из {totalRecords}"
                                 rowsPerPageTemplate="5,10,20,50,{ShowAll|'Все'}"
                                 emptyMessage="Нет установленных процессов"
                                 selection="#{deploymentManagedBean.selectedModel}"
                                 selectionMode="single"
                                 rowKey="#{t.deploymentKey}"
                                 >
                        <p:ajax event="rowSelect" listener="#{deploymentManagedBean.selectModel()}"
                                update="content-form:tableDeployment"  />
                        <p:column headerText="Идентификатор процесса">
                            <h:outputText style="margin-left: 10px" value="#{t.deploymentKey}"/>
                        </p:column>
                        <p:column headerText="Дата и время установки">
                            <h:outputText value="#{deploymentManagedBean.getDateString(t.date)}"/>
                        </p:column>
                    </p:dataTable>
                </p:splitterPanel>
                <p:splitterPanel size="70">
                    <p:dataTable id="tableDeployment" var="t" value="#{deploymentManagedBean.getDeployments()}"
                                 rows="10"
                                 paginator="true"
                                 lazy="true"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 currentPageReportTemplate="{startRecord}-{endRecord} из {totalRecords}"
                                 rowsPerPageTemplate="5,10,20,50,{ShowAll|'Все'}"
                                 emptyMessage="Нет установленных процессов">
                        <p:column headerText="Версия процесса">
                            <p:commandButton update="content-form:processModelDetail"
                                             oncomplete="renderDiagram();PF('processModelDialog').show()"
                                             icon="pi pi-search" title="View">
                                <f:setPropertyActionListener value="#{t}"
                                                             target="#{deploymentManagedBean.selectedDeployment}"/>
                            </p:commandButton>
                            <h:outputText style="margin-left: 10px" value="#{t.deploymentId}"/>
                        </p:column>
                        <p:column headerText="Файл">
                            <h:outputText value="#{t.fileName}"/>
                        </p:column>
                        <p:column headerText="Дата и время установки">
                            <h:outputText value="#{deploymentManagedBean.getDateString(t.date)}"/>
                        </p:column>
                    </p:dataTable>
                </p:splitterPanel>
            </p:splitter>


            <p:dialog header="Установить новый процесс" widgetVar="installProcessDialog" modal="true">
                <p:fileUpload listener="#{deploymentManagedBean.upload}"
                              uploadLabel="Загрузить" cancelLabel="Отмена" mode="advanced" label="Выбрать"
                              allowTypes="/(\.|\/)(bpmn)$/" invalidFileMessage="Формат неверный, требуется BPMN"/>
                <f:facet name="footer">
                    <p:commandButton value="Закрыть" onclick="PF('installProcessDialog').hide(); reload();"
                                     styleClass="ui-button-warning"/>
                </f:facet>
            </p:dialog>

            <p:dialog header="Процесс" widgetVar="processModelDialog" modal="true" showEffect="fade" hideEffect="fade">
                <p:scrollPanel id="processModelDetail" style="width:800px; min-height:600px; text-align:left;">
                    <div id="diagramCanvas" style="height: 600px;"></div>
                    <h:outputText style="display: none" id="xmlProcess"
                                  value="#{deploymentManagedBean.getSelectedDeployment().getXml()}"/>
                </p:scrollPanel>
                <f:facet name="footer">
                    <p:commandButton value="Закрыть"
                                     onclick="PF('processModelDialog').hide()" styleClass="ui-button-warning"/>
                </f:facet>
            </p:dialog>
        </h:form>
    </ui:define>
</ui:composition>
</html>